.submit {
  cursor: pointer;
  justify-self: flex-end;
  width: var(--media-button-width);
  height: var(--media-button-height);

  max-height: var(--max-button-height);
  max-width: var(--max-button-width);
  margin: 32px 0 0 0;

  font-size: var(--button-font-size);
  /* // font-size: var(--button-font-size); */

  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;

  background: hsl(211, 36%, 42%);
  letter-spacing: 0.1rem;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #303e4d;
}

.submit:hover {
  background: hsl(211, 56%, 42%);
  cursor: pointer;
}

.submit:focus {
  background: hsl(211, 66%, 42%);
  box-shadow: 0 0 0 2px hsl(211, 100%, 0%);
}

.submit:active {
  background: hsl(211, 66%, 52%);
}

.submit:disabled {
  background: hsla(0, 0%, 54%, 1);
}
.submit:disabled:hover {
  background: hsla(0, 0%, 54%, 1);
}

@media (max-width: 768px) {
  .submit {
    margin: 16px 0 0 0;
  }
}
