.error {
  /* background: hsla(0, 30%, 80%, 0.8); */
  border-radius: 4px;
  font-size: 14px;
  width: fit-content;
}

.error:focus {
  box-shadow: inset 0 0 0 2px darkred;
}

.error__message {
  color: darkred;
}

@media (max-width: 768px) {
  .error {
    margin: 16px 0 24px 0;
  }
}
