
$mediaLoginWidth: 1.8rem;
$borderRadius: 1rem / 8;
$white: hsl(0, 0, 88%);

.button {
  width: $mediaLoginWidth;
  height: $mediaLoginWidth;
  background: white;

  border-radius: $borderRadius;
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px 1px #4d4d4d;

  &:hover {
    cursor: pointer;
    background: #f0f0f0;
    box-shadow: 0px 0px 3px 1px #4d4d4d;
  }

  &:active {
    box-shadow: 0px 0px 2px 0px #4d4d4d;
    background: #eaeaea;
    .button__logo__icon {
      width: 56%;
    }
  }
}

.button__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  .button__logo__icon {
    width: 60%;
  }
}

