.remember__me {
  width: var(--media-button-width);
  max-width: var(--max-button-width);
  cursor: pointer;
  margin: 16px;
  display: flex;
  align-items: center;
}

.remember__me__label {
  cursor: pointer;
  color: #494949;
  font-size: 0.75em;
}

.checkbox {
  margin: 0 8px 0 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .remember__me {
    margin: 8px 0 0 0;
  }
}
