.button {
  width: var(--media-login-width);
  height: var(--media-login-height);
  background: linear-gradient(90deg, white 0px, white var(--media-login-height), #4082ed var(--media-login-height));

  display: grid;
  grid-template-columns: var(--media-login-height) var(--media-login-diff);
  grid-template-rows: var(--media-login-height);

  grid-template-areas: 'logo text';
  align-items: center;

  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px hsl(217, 83%, 45%);
}

.button:hover {
  background: linear-gradient(90deg, white 0px, white 40px, #0061eb 40px);
  color: white;
}

.button:active {
  background: linear-gradient(90deg, white 0px, white 40px, hsl(215, 100%, 25%) 40px);
}

.button__anchor {
  // color: #39a2f2;
  grid-area: logo;
  display: flex;
  justify-content: center;
  text-align: center;
}

// .button__logo {
//   height: var(--media-login-logo-height);
// }

.button__logo {
  height: calc(var(--media-login-height) - 15px);
}

.text__background {
  // height: var(--media-login-height);
  grid-area: text;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button__text {
  margin: 0 0 0 16px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  // text-shadow: 1px 1px 2px black;
  font-family: 'Montserrat';
  letter-spacing: 1px;
}
