.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows:
    var(--header-height)
    var(--main-height) 
    var(--message-form-height)
    var(--footer-height);
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar message'
    'sidebar footer';
}


@media (hover: none) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows:  80px 1fr 80px 1fr;
  grid-template-areas:
    'header'
    'main'
    'message'
    'footer';
  }
}