.forgot__password {
  width: var(--media-button-width);
  max-width: var(--max-button-width);
}

.forgot__password__button {
  margin: 24px 0 0 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: hsl(222, 65%, 34%);
}

.forgot__password__button:focus {
  color: hsl(222, 100%, 34%);
  filter: drop-shadow(0px 0px 0px #191919);
  box-shadow: 0 0 0 1px #191919;
}

.forgot__password__button:hover {
  color: hsl(222, 80%, 50%);
}

.forgot__password__button:active {
  color: hsl(222, 100%, 24%);
}

@media (max-width: 768px) {
  .forgot__password__button {
    margin: 8px 0 0 0;
  }
}
