.footer {
  /* // margin: 32px 0 0 0; */
  grid-area: footer;
  width: 100%;
  height: var(--banner-height);
  background: var(--header-bg);
  text-align: center;
}

.signup__button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: hsl(211, 80%, 70%);
}

.signup__button:hover {
  color: hsl(211, 80%, 60%);
  text-decoration: underline;
}
.signup__button:focus,
.signup__button:active {
  color: hsl(211, 100%, 80%);
  text-decoration: underline;
  /* // box-shadow: 0 0 0 1px whitesmoke; */
  outline: 1px solid whitesmoke;
  outline-offset: 4px;
}

.paragraph {
  color: whitesmoke;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .footer {
    height: var(--banner-height);
  }
}
