.profile {
  height: var(--header-height);
  display: flex;
  justify-content: flex-end;
  height: 70%;
  align-items: center;
  margin: 0 20px 0 0;
  // background: transparent;
}

.profile__image {
  height: 35px;
  border-radius: 100%;
}
