.main {
  position: absolute;
  top: var(--header-height);
  left: var(--sidebar-width);
  z-index: -1;
 
}

.main__list {
  position: relative;
  // height: calc(100vh - var(--header-height) - var(--input-height));
  height: var(--main-height);

  overflow-y: scroll;
}


@media (hover:none) {
  .main {
    left: 0;
  }
  .main__list {
    height: calc(var(--main-height) + var(--input-padding-bottom));
  }
}