.main {
  position: absolute;
  top: var(--header-height);
  left: var(--sidebar-width);
  z-index: -1;
 
}

.main__list {
  position: relative;
  height: calc(100vh - var(--header-height) - var(--input-height));
  // height: calc(100vh - var(--header-height) - var(--input-height) - var(--input-padding-bottom));

  overflow-y: scroll;
}


@media (hover:none) {
  .main {
    left: 0;
  }
}