.main {
  position: absolute;
  top: var(--header-height);
  left: var(--sidebar-width);
  z-index: -1;
  border-top: 2px solid #191919;
}

.main__list {
  position: relative;
  height: calc(100vh - var(--header-height) - var(--input-height));
  overflow-y: scroll;
}


@media (hover:none) {
  .main {
    left: 0;
  }
}