.slideout {
  display: flex;
  width: var(--signin-button-width);
}

.slideout__list {
  justify-content: flex-start;
}

// .signout {
//   border: none;
//   outline: none;
//   color: #800080;
// }
