.modal {
  font-size: calc(1em + 0.5vw);  
}

.overlay {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 90%;
  background: black;
}

.error {
  box-shadow: 0px 0px 0px 1px red;
  background: hsla(0, 30%, 80%, 0.8);
}

.success {
  box-shadow: 0px 0px 0px 1px green;
  background: hsla(120, 30%, 80%, 0.8);
}

.form {
  position: fixed;
  background: #e6e6e6;
  width: 70vw;
  height: 90vh;
  min-height: 580px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  display: grid;
  grid-template-rows: 12.5% 40% 10% 25% 12.5%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "inputs"
    "errors"
    "button"
    "footer";
}

.form > * {
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: header;
  background: #2c3849;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: "Amatic SC";
  font-size: calc(2em + 0.5vw + 0.5vh);
  letter-spacing: 4px;
  font-weight: 700;
  white-space: nowrap;
  

  /* margin-bottom: 16px; */
}

.title {
  text-align: center;
  width: 100%;
  margin: 0 0 0 102px;
  filter: drop-shadow(4px 4px 4px black);
}

.close {
  float: right;
  margin: 0 70px 0 0;
  cursor: pointer;
}




.username,
.email,
.password {
  width: 100%;
  box-shadow: 0 0 0 1px #303e4d;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
}


.container {
  width: 100%;
}

.inputs {
  grid-area: inputs;
  background: #e6e6e6;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inputs input {
  border-radius: 6px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  width: 100%;  
  height: 4rem;
  max-height: 72px;
  padding: 0 0 0 1em;
  margin: -0.5rem 0;

  box-shadow: 0 0 0 1px #303e4d;
}

.inputs input:hover {
  box-shadow: 0 0 0 1px hsl(240, 70%, 50%);
  /* background: hsl(240, 0%, 95%); */
}

.inputs input:focus {
  box-shadow: 0 0 0 2px blue;
  font-size: 16px;
  transition: font-size 0.2s ease-in;
  background: hsl(240, 5%, 100%);
}

.button {
  /* padding: 0 5%; */
  grid-area: button;

  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;

  background: hsl(211, 36%, 42%);
  letter-spacing: 0.1em;
  border-radius: 4px;
  align-self: center;
  justify-self: center;

  box-shadow: 0 0 0 1px #303e4d;
  font-family: "Montserrat", sans-serif;
  height: 4.5rem;
  width: 90%;

  place-content: center;
  place-items: center;

}

.button:hover {
  background: hsl(211, 56%, 42%);
  cursor: pointer;
}

.button:focus {
  background: hsl(211, 66%, 42%);
  box-shadow: 0 0 0 2px hsl(211, 100%, 0%);
}

button:disabled {
  background: hsla(0, 0%, 54%, 1);
}
button:disabled:hover {
  background: hsla(0, 0%, 54%, 1);
}

.footer {
  grid-area: footer;
  background: #2c3849;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: whitesmoke;
}

.footer a {
  font-weight: bold;
  color: hsl(211, 80%, 70%);
}
.footer a:hover {
  color: hsl(211, 80%, 60%);
}













.label {
  display:block;
  width: 100%;
  height: 50px;
}

.label__text {
  position: relative;
}

.label__blur{
  position: absolute;
  top: 4rem;
  left: 1rem;
  transition: all ease-in-out 0.2s;
  color: hsla(0, 0%, 37%, 0.8);
}

.label__focused {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  color: blue;
  font-size: 12px;
  font-weight: 600;
  transition: all ease-in-out 0.2s;
}




.errors {
  /* padding: 1rem 0; */

  width: 90%;
  justify-self: center;
  /* align-self: center; */
  height: 70%;
  /* background: red; */
  color: darkred;
  font-size: 12px;
  padding: 16px 0;
  line-height: unset;

}





@media (hover: none) {
  .form {
    width: 100%;
    height: 100%;
  }
}