.container {
  height: 80px;
  line-height: 22px;
}

.container__user {
  padding: 12px;
  margin: 12px;
}

.container__user:hover {
  background: rgb(216, 216, 216);
  border-radius: 4px;
}

.user {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-areas:
    'image name'
    'image message';
  align-items: flex-start;
  gap: 2px 12px;
  font-size: calc(0.65em + 0.5vw);  

}



.image {
  height: 48px;
  grid-area: image;
}

.user__image {
  height: 60%;
}

.user__name {
  // font-size: 17px;
  // font-size: calc(0.75em + 0.5vw);  

  font-weight: 800;
  grid-area: name;
}

.user__message {
  font-family: lato;
  // font-size: calc(0.65em + 0.5vw);  
  // font-size: 16px;
  font-weight: 400;
}

.svg {
  border-radius: 20%;
  // box-shadow: 0px 0px 0px 1px #333;
}
