.container {
  height: 80px;
  line-height: 22px;
}

.container__user {
  padding: 12px;
  margin: 12px;
}

.container__user:hover {
  background: rgb(216, 216, 216);
  border-radius: 4px;
}

.user {
  display: grid;
  grid-template-columns: calc(3em + 0.5vw) auto;
  grid-template-areas:
    'image name'
    'image message';
  align-items: flex-start;
  gap: 2px calc(0.5em + 0.5vw);
  font-size: calc(0.65em + 0.5vw);
}

.image {
  height: 100%;
  width: 100%;
  grid-area: image;
}

.user__image {
  height: 60%;
  width: 60%;
}

.user__name {
  font-weight: 800;
  grid-area: name;
}

.user__message {
  font-family: lato;
  font-weight: 400;
}

.svg {
  width: auto;
  height: calc(0.5vw + 2vh + 1em);
  border-radius: 100%;
}
