:root {
}

/* .component {

} */

.label,
.input,
.fieldset {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  padding: 0;
  border-radius: 4px;
}

.input,
.fieldset {
  width: 100%;
  height: 100%;
}

.label,
.legend {
  width: 0;
  height: 0;
}

.label {
  transform: translate(1rem, calc((4rem / 2) - 0.5rem));
  color: hsla(0deg, 0%, 50%, 1);
  white-space: nowrap;
}

.label.focus {
  animation: 0.4s slideup forwards cubic-bezier(0.5, 0.2, 0.3, 1);
}

.label.blur {
  animation: 0.4s rotate_out forwards cubic-bezier(0.5, 0.2, 0.3, 1);
}

.input {
  padding-left: 1rem;
  border: none;
  box-shadow: 0 0 0 var(--border-width) grey;
  outline: transparent;
  background: transparent;
}

.input.focus {
  box-shadow: 0 0 0 var(--border-width) transparent;
}

.fieldset {
  --div: calc(1rem / 6);
  --offset: calc((1rem / 4) + (1rem / 6));
  border: var(--border-width) solid transparent;
  height: calc(100% + 1rem - (var(--offset) - var(--border-width)));
  top: calc((1rem - var(--offset)) * -1);
  width: calc(100% + (var(--border-width) * 2));
  left: var(--inverse-width);
  background: white;
  z-index: -1;
  transition: border 0.3s linear;
}

.fieldset.focus {
  border: calc(var(--border-width) + 2px) solid blue;
}

.legend {
  color: transparent;
  margin-left: 2rem;
  padding: 0 0;
}

.legend.focus {
  font-size: 0.75rem;
  font-weight: bold;
}

.legend.blur {
  font-size: 1rem;
  font-weight: normal;
}

@keyframes slideup {
  0% {
    color: hsla(0deg, 0%, 50%, 1);
    transform: translate(1rem, calc((4rem / 2) - 0.5rem)) rotate(0deg);
    font-size: 1rem;
    font-weight: normal;
  }

  100% {
    transform: translate(2.1rem, -0.6rem) rotate(360deg);
    color: hsla(240deg, 100%, 50%, 1);
    font-size: 0.75rem;
    font-weight: bold;
  }
}

@keyframes rotate_out {
  from {
    transform: translate(2.1rem, -0.6rem) rotate(360deg);
    color: hsla(240deg, 100%, 50%, 1);
    font-size: 0.75rem;
    font-weight: bold;
  }

  to {
    transform: translate(1rem, calc((4rem / 2) - 0.5rem)) rotate(0deg);
    color: hsla(0deg, 0%, 50%, 1);
    font-size: 1rem;
    font-weight: normal;
  }
}

@keyframes fadein {
  from {
    color: hsla(240deg, 0%, 100%, 0);
    font-weight: normal;
  }
  to {
    color: hsla(240deg, 100%, 50%, 1);
    font-weight: bold;
    font-size: 0.85rem;
  }
}
