@import url(https://fonts.googleapis.com/css?family=Roboto:400);

$google-blue: #4285f4;
$facebook-blue: #3b5998;

$google-active-blue: #1669f2;
$facebook-active-blue: #2f477a;

$google-focused-blue: #0c57cf;
$facebook-focused-blue: #24355c;

$button-width: var(--media-button-width);
$button-height: var(--media-button-height);

$icon-height: $button-height / 2;
$icon-margin-top: $icon-height / 2;

$logo-column: $button-height;
$text-column: auto;

// ::before,
// ::after,
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   flex-direction: column;
//   justify-content: space-evenly;
// }

.btn {
  width: $button-width;
  height: $button-height;
  border-radius: 4px;

  display: grid;
  grid-template-columns: $logo-column $text-column;
  grid-template-areas: "logo text";
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px $google-blue;
}

.google {
  background-color: $google-blue;
  &:hover {
    box-shadow: 0 0 0 2px $google-active-blue;
  }
  &:active {
    background: $google-active-blue;
    box-shadow: 0 0 0 2px $google-focused-blue;
  }
  &:focus {
    box-shadow: 0 0 0 2px $google-focused-blue;
  }
}

.facebook {
  background-color: $facebook-blue;
  &:hover {
    box-shadow: 0 0 0 2px $facebook-active-blue;
  }
  &:active {
    background: $facebook-active-blue;
    box-shadow: 0 0 0 2px $facebook-active-blue;
  }
  &:focus {
    box-shadow: 0 0 0 2px $facebook-focused-blue;
  }
}

.icon__wrapper {
  height: $button-height;
  width: $button-height;
  border-radius: 4px;
  background: white;
  // position: absolute;
  grid-area: logo;
}

.icon {
  // margin: auto;
  margin-top: $icon-margin-top;
  height: $icon-height;
}

.btn__text {
  grid-area: text;
  color: #f5f5f5;
  margin: auto;
  font-size: calc(var(--media-button-width) * 0.065);
  // letter-spacing: 0.2px;
  z-index: 1;
  font-family: "Roboto";
}

// .strong {
//   color: white;
//   font-size: 24px;

// }

@media (hover:none) {
  .btn_text {
    // z-index: 9;
    color: red;
  }
}