
.header {
  background: var(--header-bg);
  color: var(--header-color);
  border-bottom: 1px solid rgba(222, 222, 222, 0.3);
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 0 0 20px;
}

.logo__name {
  font-family: "Amatic SC";
  font-weight: 700;
  letter-spacing: 4px;
  // font-size: 40px;
  font-size: calc(1.5em + 1vw);  

  text-shadow: 1px 1px 2px black;
  filter: drop-shadow(0px 2px 2px #000);
  white-space: nowrap;
}


// .visible {
//   display: block;
//   height: 50%;
//   width: var(--signin-button-width);
//   margin: 0 20px 0 0;
// }





.visible, .hidden {
  height: var(--header-height);
  display: flex;
  justify-content: flex-end;
  height: 70%;
  align-items: center;
  margin: 0 20px 0 0;
  // background: #e6e6e6;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 1px #e6e6e6;
  
  // max-width: 200px;
  // min-width: 100px; 
  // width: 100%;
  
  font-size: 18px;
  white-space: nowrap;
  color: var(--link-color);

  &:hover {
    // box-shadow: 0px 0px 0px 1px #494949;
    // background: #494949;
    background: #e6e6e6;

    color: var(--link-hover);

  }
}

.hidden {
  &:hover {
    box-shadow: 0px 0px 0px 1px blue;
    background: #e6e6e6;
  }
}

.hideName {
  display: none;
}

.showName {
  display: inline-block;
  margin: 0 16px 0 0;
  font-size: 16px;
  
}


// .active {
//   width: 35%;
//   max-width: 240px;
//   min-width: 100px;
// }



.profile__image {
  // height: 95%;
  border-radius: 6px;
  border:none;
  outline: none;
  // font-size: calc(0.65em + 0.5vw);  
  height: calc(1.5em + 0.5vw);
  width: calc(1.5em + 0.5vw);
}



.slideout {
  display: flex;
  // width: var(--signin-button-width);
  // width: 300px;
  cursor: pointer;
  // background: red;

  padding: 10px;
  
}

.slideout__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px

}

// .signout {
//   border: none;
//   outline: none;
//   color: #800080;
// }




.wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(var(--signin-button-width), 1fr));
  // grid-template-rows: var(--header-height);
  // align-items: center;
  // height: var(--header-height)
  // height: 100%;
}


.login__button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--signin-button-font-size);
  font-weight: 800;
  letter-spacing: 1px;

  display: block;
  height: var(--signin-button-height);
  width: var(--signin-button-width);
  margin: var(--signin-button-margin);

  border-radius: var(--signin-button-radius);

  // border: 1px solid grey;
  border: none;

  outline: none;

  color: var(--header-bg);
  // background: var(--header-color);
  background: hsl(0, 0%, 96%);
}

.login__button:hover {
  // background: hsl(215, 25%, 23%);
  background: hsl(215, 10%, 90%);
}

.login__button:active {
  background: hsl(215, 20%, 87%);
  // color: white;;
}


.user {
  display: flex;
  // background: red;
  align-items: center;

  .user__name {
    margin: 0 32px 0 0;
    white-space: nowrap;
  }
}


@media (hover: none) {
  .login__button {
    display: none;
  }

  .logo {
    margin: 0 5%;
    text-align: center;
  }

  .showName, .slideout {
    display: none;
  }

  .profile__image {
    border-radius: 6px;
    border:none;
    outline: none;
    // height: calc(1.5em + 0.4vw);
    // width: calc(1.5em + 0.4vw);
    height: calc(1.4em + 0.5vw);
    width: calc(1.4em + 0.5vw);
  }
  
  
  .logo__name {
    // font-family: "Amatic SC";
    // font-weight: 700;
    // letter-spacing: 4px;
    // font-size: 40px;
    // text-shadow: 1px 1px 2px black;
    // filter: drop-shadow(0px 2px 2px #000);
    // white-space: nowrap;
  }
  

  .slideout, .showName {
    // display: none;
  }
}