.social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 12px;
  /* font-size: 0.75em; */
}

.paragraph {
  grid-area: paragraph;
  color: #191919;
  margin: 12px 0 16px 0;
  font-size: Min(var(--responsive-font-size), 32px);
}

@media (max-width: 768px) {
  .social {
    justify-content: flex-start;
  }

  .paragraph {
    display: none;
  }
}
