.button {
  // width: var(--media-button-width);
  width: 240px;
  height: var(--media-button-height);
  background: linear-gradient(
    90deg,
    white 0px,
    white var(--media-button-height),
    hsl(221, 31%, 49%) var(--media-button-height)
  );

  display: grid;
  grid-template-columns: var(--media-button-height) var(--media-button-diff);
  grid-template-rows: var(--media-button-height);

  grid-template-areas: "logo text";
  align-items: center;

  border-radius: 2px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px hsl(221, 41%, 54%);
}

.button:hover {
  color: white;
  background: linear-gradient(
    90deg,
    white 0px,
    white var(--media-button-height),
    hsl(221, 31%, 39%) var(--media-button-height)
  );

}

.button:active {
  background: linear-gradient(
    90deg,
    white 0px,
    white var(--media-button-height),
    hsl(215, 100%, 25%) var(--media-button-height)
  );
}

.button__anchor {
  grid-area: logo;
  display: flex;
  justify-content: center;
  text-align: center;
  
  color: #5770a5;
  :hover {
    color: #000;
  }

  &:active,
  &:focus {
    color: hsl(221, 48%, 49%);
  }

}

.text__background {
  // height: var(--media-button-height);
  grid-area: text;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.button__text {
  // margin: 0 0 0 16px;
  // color: white;
  // font-weight: 600;
  // font-size: 14px;
  // // text-shadow: 1px 1px 2px black;
  // font-family: 'Montserrat';
  // letter-spacing: 1px;
  position: absolute;
  left: 1rem;

  // right: 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 1px 1px 2px black;
  font-family: "Arial";
}

.button__logo {
  height: calc(var(--media-button-height) - 15px);
}
