.button {
  // width: var(--media-button-width);
  width: 200px;
  height: var(--media-button-height);
  background: linear-gradient(
    90deg,
    white 0px,
    white var(--media-button-height),
    #4082ed var(--media-button-height)
  );

  display: grid;
  grid-template-columns: var(--media-button-height) var(--media-button-diff);
  grid-template-rows: var(--media-button-height);

  grid-template-areas: "logo text";
  align-items: center;

  border-radius: 2px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px hsl(217, 83%, 45%);
}

.button:hover {
  color: white;
  background: linear-gradient(
    90deg,
    white 0px,
    white var(--media-button-height),
    #0061eb var(--media-button-height)
  );
}

.button:active {
  background: linear-gradient(
    90deg,
    white 0px,
    white var(--media-button-height),
    hsl(215, 100%, 25%) var(--media-button-height)
  );
}

.button__anchor {
  grid-area: logo;
  display: flex;
  justify-content: center;
  text-align: center;
}

// .button__logo {
//   height: var(--media-button-logo-height);
// }

// .button__logo {
//   height: calc(var(--media-button-height) - 15px);
// }

.text__background {
  // height: var(--media-button-height);
  grid-area: text;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button__text {
  // margin: 0 0 0 16px;
  position: absolute;
  left: 1rem;

  // right: 0;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 1px 1px 2px black;
  font-family: "Arial";
  // letter-spacing: 1px;
  // justify-items: center;
  // margin: auto;
  // align-items: center;
  // justify-self: center;
  // margin: auto;
  // place-self: center;
  // text-align: center;
  // margin: 0 0 0 0;
  // margin: 0 0 0 var(--media-button-height)
}


// @media (max-width: 360px) {
//   .button {
//     width: 40px;
//     height: 40px;
//   }
//   .button__text {
//     display: none;
//   }
// }