$max-font: 48px;
$min-font: 14px;
$max-vw: 1200px;

.modal {
  font-size: calc(1em + 0.5vw);  
}


.overlay {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 90%;
  background: black;
}

.form {
  
  position: fixed;
  background: #e6e6e6;
  width: 70vw;
  height: 90vh;
  min-height: 580px;
 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  
  display: grid;
  // grid-template-rows: 12.5% 35% 10% 30% 12.5%;
  grid-template-rows: 12.5% 40% 15% 2% 18% 12.5%;
  grid-template-columns: 1fr;
  grid-template-areas: 
    'header'
    'inputs'
    'button'
    'divider'
    'buttons'
    'footer';

}

.form > * {
  display: flex;
  flex-direction: column;
}


.header {
  grid-area: header;
  background: #2c3849;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: "Amatic SC";
  // font-size: clamp(2em, 3em, 4em);
  font-size: calc(2em + 0.5vw + 0.5vh);
  letter-spacing: 4px;
  font-weight: 700;
  // text-shadow: 1px 1px 2px black;
  white-space: nowrap;
}



.title {
  text-align: center;
  width: 100%;
  margin: 0 0 0 102px;
  filter: drop-shadow(4px 4px 4px black);
}

.close {
  float: right;
  margin: 0 70px 0 0;
  cursor: pointer;
}


.email,
.password {
  width: 100%;
  box-shadow: 0 0 0 1px #303e4d;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
}

.container {
  width: 100%;
}

.options {
  display: flex;
  width: 100%;
  grid-template-columns: 80% 2% 18%;
  font-size: small;
  // background: red;
  margin: 2em 0 0 0;

  align-items: center;
  justify-content: space-between;
  font-size: small;
  gap: 1em;
  // display: none;
  input {
    margin: 0 1em;

    // padding: 10px;
  }

  white-space: nowrap;
}


// .remember {
//   margin: 0 16px 0 8px;
//   outline: none;
//   border: none;
//   box-shadow: none;
//   &:hover {
//     outline: none;
//     border: none;
//     box-shadow: none;
//   }
//   // font-size: 0.75em;
// }




.inputs {
  grid-area: inputs;
  background: #e6e6e6;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;


  
  input:not([type=checkbox]) {
    height: 3.5em;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px #303e4d;
    padding: 1em;
    font-family: "Montserrat", sans-serif;
    margin: 2% 0;
  }


  // input[type=email] {
  //   margin: 3% 0 0 0;
  // }

  // input[type=password] {
  //   margin: 3% 0;
  // }

  // input[type=submit] {
  //   font-size: 0.8em;
  //   font-weight: 600;
  //   background: hsl(211, 50%, 42%);
  //   color: whitesmoke;
  //   outline: none;
  //   border: none;
  //   cursor: pointer;
  // }

  // input[type=checkbox] {
  //   margin: -20px 0 0 0;
  // }
  
}




.inputs input:not([type=checkbox]) {
  border-radius: 6px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  width: 100%;  
  height: 4rem;
  max-height: 72px;
  padding: 0 0 0 1em;
  margin: -0.5rem 0;

  box-shadow: 0 0 0 1px #303e4d;
}


.inputs input:not([type=checkbox]):hover {
  box-shadow: 0 0 0 1px hsl(240, 70%, 50%);
  /* background: hsl(240, 0%, 95%); */
}

.inputs input:not([type=checkbox]):focus {
  box-shadow: 0 0 0 2px blue;
  font-size: 16px;
  transition: font-size 0.2s ease-in;
  background: hsl(240, 5%, 100%);
}

.button {
  /* padding: 0 5%; */
  grid-area: button;

  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;

  background: hsl(211, 36%, 42%);
  letter-spacing: 0.1em;
  border-radius: 4px;
  align-self: center;
  justify-self: center;

  box-shadow: 0 0 0 1px #303e4d;
  font-family: "Montserrat", sans-serif;
  height: 4.5rem;
  width: 90%;

  place-content: center;
  place-items: center;

}

.button:hover {
  background: hsl(211, 56%, 42%);
  cursor: pointer;
}

.button:focus {
  background: hsl(211, 66%, 42%);
  box-shadow: 0 0 0 2px hsl(211, 100%, 0%);
}

button:disabled {
  background: hsla(0, 0%, 54%, 1);
}
button:disabled:hover {
  background: hsla(0, 0%, 54%, 1);
}



.divider {
  grid-area: divider;

  .divider__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .divider__container__line {
      width: calc((var(--media-button-width) / 2) - 20px);
      border-top: 1px solid black;
    }
    .divider__container__text {
      padding: 0 10px;
      font-weight: 200;
      font-size: small;
      color: #494949;
    }
  }
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  background: #e6e6e6;
 
  

  img {
    height: 45px;
  }

}



// .buttons > button {
//   width: 50px;
//   height: 50px;
//   margin: 0 1em;
  
// }


.footer {
  grid-area: footer;
  background: #2c3849;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: whitesmoke;
  a {
    font-weight: bold;
    color:hsl(211, 80%, 70%)
  }
  a:hover {
    color:hsl(211, 80%, 60%)
  }
}


.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


// input[type=email] {
//   margin: 3% 0 0 0;
// }

// input[type=submit] {
  // font-size: 18px;
//   font-weight: 600;
//   background: hsl(211, 50%, 42%);
//   color: whitesmoke;
//   outline: none;
//   border: none;
//   cursor: pointer;
// }


// input {
//   height: 3em;
// }



// section.buttons {
//   flex-direction: row;
//   justify-content: center;
//   gap: 1em;
//   background: #e6e6e6;

// }







// .username,
// .email,
// .password,
// .confirm,
// .login,
// .register {
//   width: 100%;
//   height: 40px;
//   margin: 8px 0;
//   border-radius: 2px;
//   border: none;
//   outline: none;
//   box-shadow: 0 0 0 1px #303e4d;
//   padding: 4px;
//   font-family: "Montserrat", sans-serif;
// }

// .username,
// .email,
// .password,
// .confirm {
//   padding: 0 0 0 16px;

//   &:hover {
//     box-shadow: 0 0 0 1px blue;
//   }
// }

// .login {
//   font-weight: 600;
//   color: white;
//   background: hsl(211, 36%, 42%);
//   letter-spacing: 0.1em;

//   &:hover {
//     background: hsl(211, 56%, 42%);
//     cursor: pointer;
//   }
// }

.forgot {
  font-size: 14px;
  color: hsl(211, 50%, 40%);

  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &:hover {
    color: hsl(211, 70%, 50%);
  }
}



.label {
  display:block;
  width: 100%;
  height: 50px;
}

.label__text {
  position: relative;
}

.label__blur{
  position: absolute;
  top: 4rem;
  left: 1rem;
  transition: all ease-in-out 0.2s;
  color: hsla(0, 0%, 37%, 0.8);
}

.label__focused {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  color: blue;
  font-size: 12px;
  font-weight: 600;
  transition: all ease-in-out 0.2s;
}



@media (hover: none) {
  .form {
    width: 100%;
    height: 100%;
  }
}


// /* #### Mobile Phones Portrait #### */
// @media screen and (max-device-width: 480px) and (orientation: portrait) {
//   // .form {
//   //   background: firebrick;
//   // }
// }

// /* #### Mobile Phones Landscape #### */
// @media screen and (max-device-width: 640px) and (orientation: landscape) {
//   // .form {
//   //   background: green;
//   // }
// }

/* #### Mobile Phones Portrait or Landscape #### */
// @media screen and (max-device-width: 640px) {
//   .form {
//     width: 100%;
//     height: 100%;
//   }
// }

/* #### iPhone 4+ Portrait or Landscape #### */
// @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
//   .form {
//    width: 100%;
//    height: 100%;
//   }
// }

/* #### iPhone 5 Portrait or Landscape #### */
// @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
//   .form {
//     width: 100%;
//     height: 100%;

//   }
// }

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
// @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
//   .form {
//     width: 100%;
//     height: 100%;
//   }
// }

/* #### Tablets Portrait or Landscape #### */
// @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
//   .form {
//     width: 100%;
//     height: 100%;
//   }
// }

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
// @media only screen 
//   and (min-width: 1024px) 
//   and (max-height: 1366px) 
//   and (-webkit-min-device-pixel-ratio: 1.5) {
//     .form {
//       width: 100%;
//       height: 100%;
//     }
// }

/* Portrait */
// @media only screen 
//   and (min-width: 1024px) 
//   and (max-height: 1366px) 
//   and (orientation: portrait) 
//   and (-webkit-min-device-pixel-ratio: 1.5) {
// }

// /* Landscape */
// @media only screen 
//   and (min-width: 1024px) 
//   and (max-height: 1366px) 
//   and (orientation: landscape) 
//   and (-webkit-min-device-pixel-ratio: 1.5) {

// }

/* #### Desktops #### */
// @media screen and (min-width: 1024px) {
//   .form {
    // width: 60vw;
    // height: 90vh;
    
//   }
// }


