.button {
  width: var(--media-button-width);
  height: var(--media-button-height);
  background: linear-gradient(90deg, white 0px, white var(--media-button-height), var(--twitter-primary) var(--media-button-height));

  display: grid;
  grid-template-columns: var(--media-button-height) var(--media-button-diff);
  grid-template-rows: var(--media-button-height);

  grid-template-areas: 'logo text';
  align-items: center;

  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px var(--twitter-outline)
}

.button:hover {
  color: white;
  background: linear-gradient(90deg, white 0px, white var(--media-button-height), var(--twitter-hover) var(--media-button-height));

  .button__anchor {
    color: var(--twitter-hover);
  }
}

.button:active {
  background: linear-gradient(90deg, white 0px, white var(--media-button-height), hsl(215, 100%, 25%) var(--media-button-height));
}

.button__anchor {
  grid-area: logo;
  color: var(--twitter-primary);
  :hover {
    color: var(--twitter-hover);
  }

  &:active,
  &:focus {
    color: var(--twitter-active)
  }
  display: flex;
  justify-content: center;
  text-align: center;
}

.text__background {
  // height: var(--media-button-height);
  grid-area: text;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button__text {
  margin: 0 0 0 16px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  // text-shadow: 1px 1px 2px black;
  font-family: 'Montserrat';
  letter-spacing: 1px;
}

.button__logo {
  height: calc(var(--media-button-height) - 15px);
}








// .button {
//   width: var(--media-button-width);
//   height: var(--media-button-height);
//   background: linear-gradient(
//     90deg,
//   white 0px,
//   white var(--media-button-height), 
//   #39a2f2 var(--media-button-height)
//   );

//   display: grid;
//   grid-template-columns: var(--media-button-height) var(--media-button-diff);
//   grid-template-rows: var(--media-button-height);

//   grid-template-areas: "logo text";
//   align-items: center;

//   border-radius: 6px;
//   border: none;
//   // border: 1px inset grey;
//   outline: none;
// }

// .button__anchor {
//   grid-area: logo;
//   color: #39a2f2;
// }

// .text__background {
//   // height: var(--media-button-height);
//   grid-area: text;

//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

// .button__text {
//   margin: 0 0 0 16px;
//   color: white;
//   font-weight: 600;
//   font-size: 18px;
//   text-shadow: 1px 1px 2px black;
//   font-family: Arial, Helvetica, system-ui, sans-serif;
//   letter-spacing: 1px;
// }
