.privacy {
  margin: 24px 0 0 0;
  color: #494949;
  width: fit-content;
  max-width: calc(var(--media-button-width) + 4px);
  font-size: 0.75em;
}

.privacy__button {
  background: transparent;
  outline: none;
  border: none;
  width: max-content;

  color: hsl(222, 65%, 34%);
}

.privacy__button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: hsl(211, 100%, 42%);
}

@media (max-width: 768px) {
  .privacy {
    margin: 8px 0 0 0;
    color: #494949;
    width: fit-content;
    max-width: calc(var(--media-button-width) + 4px);
  }
}
