.sidebar {

  height: var(--sidebar-height);
  width: var(--sidebar-width);
  top: var(--header-height);

  background: var(--header-bg);
  position: fixed;
  z-index: 2;

  border-right: 1px solid #202020;
}

.container {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.list {
  position: absolute;
}


@media (hover:none) {
  .sidebar {
    display: none;
  }
}