.section {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: hsla(0deg, 0%, 0%, 80%);
}

::-webkit-scrollbar-track {
  background: hsla(215, 0%, 83%, 0.5);
}

.container {
  height: 100%;
  width: 100%;
  background: hsla(0, 0%, 0%, 50%);
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 5;
}

@media (max-width: 768px) {
  .section,
  .container {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .footer {
    height: var(--banner-height);
  }
}
