::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}

:root {
  --header-height: 80px;
  --input-height: 80px;

  --main-height: calc(100vh - var(--header-height) - var(--input-height));
  --sidebar-height: calc(100vh - var(--header-height));

  --sidebar-width: 200px;

  --header-bg: #2c3849;
  --header-color: #e6e6e6;

  --media-button-height: 48px;
  --media-button-width: 224px;

}

html {
  height: 100vh;
}