* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  // text-decoration: none;
  font-family: 'Lato', sans-serif;
}

:root {
  --header-bg: hsl(215, 25%, 23%);
  --header-color: #e6e6e6;
  --header-height: 60px;

  --input-height: 80px;
  --input-padding-bottom: 0px;

  --footer-height: calc(var(--input-height) + var(--input-padding-bottom));

  --main-height: calc(100% - (var(--banner-height) + var(--footer-height)));

  --sidebar-height: calc(100vh - var(--header-height));
  --sidebar-width: 200px;

  --media-button-width: 240px;

  --max-button-width: 320px;

  --media-button-height: calc(var(--media-button-width) / 6);
  --max-button-height: 64px;

  --icon-box-height: calc(var(--media-button-height) - 4px);
  --icon-box-width: var(--icon-box-height);

  --min-font-size: 4px;
  --max-font-size: 36px;
  --responsive-font-size: calc(var(--media-button-height) * 0.4);

  --form-font-size: Min(calc((3.5vw + 0.5rem) * 0.5), 16px);
  --button-font-size: clamp(
    calc(1vw * 0.1em),
    calc(4vw * 0.5em),
    calc(3vw * 1em)
  );

  --form-height: 550px;
  --form-width: 700px;

  --banner-height: 60px;
  --banner-font-size: calc(var(--banner-height) * 0.66666666666666666);
  --content-height: calc(
    var(--form-height) - var(--banner-height) - var(--banner-height)
  );

  --label-transform: Min(var(--media-button-height), 34px);

  --border-width: 1px;
  --inverse-width: calc(var(--border-width) * -1);

  // @media (max-width: 768px) {
  //   --input-height: 1rem;
  // }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(215, 0%, 83%, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(215, 23%, 45%);
  border: 2px ridge hsl(215, 20%, 34%);

  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(215, 33%, 52%);
}
