.standard {
  grid-area: standard;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 12px;
}

.paragraph {
  grid-area: paragraph;
  color: #191919;
  margin: 12px 0 16px 0;
  font-size: Min(var(--responsive-font-size), 32px);
}

.forgot__password {
  width: var(--media-button-width);
  max-width: var(--max-button-width);
}

.forgot__password__button {
  margin: 24px 0 0 16px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: hsl(222, 65%, 34%);
}

.forgot__password__button:focus {
  color: hsl(222, 100%, 34%);
  -webkit-filter: drop-shadow(0px 0px 0px #191919);
  filter: drop-shadow(0px 0px 0px #191919);
  box-shadow: 0 0 0 1px #191919;
}

.forgot__password__button:hover {
  color: hsl(222, 80%, 50%);
}

.forgot__password__button:active {
  color: hsl(222, 100%, 24%);
}

.remember__me {
  width: var(--media-button-width);
  max-width: var(--max-button-width);
  cursor: pointer;
  margin: 16px;
  display: flex;
  align-items: center;
}

.remember__me__label {
  cursor: pointer;
  color: #494949;
  font-size: 0.75em;
}

.checkbox {
  margin: 0 8px 0 0;
  cursor: pointer;
}

.error {
  /* background: hsla(0, 30%, 80%, 0.8); */
  border-radius: 4px;
  font-size: 14px;
  width: fit-content;
}

.error:focus {
  box-shadow: inset 0 0 0 2px darkred;
}

.error__message {
  color: darkred;
}

@media (max-width: 768px) {
  .error {
    margin: 16px 0 24px 0;
  }
}

@media (max-width: 768px) {
  .remember__me {
    margin: 8px 0 0 0;
  }
}

@media (max-width: 768px) {
  .forgot__password__button {
    margin: 8px 0 0 16px;
  }
}

@media (max-width: 360px) {
  .forgot__password__button {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .paragraph {
    display: none;
  }
}

@media (width: 640px) and (height: 360) {
  .standard {
    margin-top: 0px;
  }
}

@media (width: 360px) {
  .standard {
    margin-top: 0px;
  }
}
